@use "sass:math" as math;
@use "../../../styles/tools/color";

.x-progress-circular {
  display: inline;
  width: 1em;
  height: 1em;
  &.indeterminate {
    animation: progress-circular-rotate 2s linear infinite;
    .x-progress-circular--upper {
      animation: progress-circular-dash 2s ease-in-out infinite;
    }
  }

  &--upper {
    stroke: currentColor;
    transition: stroke-dashoffset .6s ease-in-out;
  }

  &--under {
    stroke: currentColor;
    opacity: 0.65;
  }
}

@keyframes progress-circular-dash {
  $radius: 20;
  $circumference: 2 * math.$pi * $radius;

  from {
    stroke-dasharray: 1 $circumference;
    stroke-dashoffset: 0;
  }

  50% {
    stroke-dasharray: calc($circumference * 3 / 4) $circumference;
    stroke-dashoffset: calc(-1 * $circumference / 4);
  }

  to {
    stroke-dasharray: calc($circumference * 3 / 4) $circumference;
    stroke-dashoffset: calc(-1 * $circumference);
  }
}

@keyframes progress-circular-rotate {
  to {
    transform: rotate(360deg);
  }
}
