@use "../../../styles/tools/variables" as v;

$tab-prefix-cls: v.$prefix + "-tab";

.#{$tab-prefix-cls} {
  display: inline-block;
  height: 100%;
  min-width: 90px;
  padding: 0 16px; // var
  text-align: center;
  vertical-align: top;
  box-sizing: border-box;
  user-select: none;
  cursor: pointer;
}
