@use "../../../styles/tools/variables" as v;

$input-prefix-cls: '#{v.$prefix}-text-field';

.#{$input-prefix-cls} {
  width: 100%;
  max-height: 32px;
  padding: 8px 0;
  border-style: none;
  background-color: transparent;
  box-sizing: border-box;
  &:focus {
    outline: none;
  }
}