$umbra-opacity: rgba(0, 0, 0, 0.2);
$penumbra-opacity: rgba(0, 0, 0, 0.2);
$ambient-opacity: rgba(0, 0, 0, 0.2);

$umbra-0: 0px 0px 0px 0px $umbra-opacity;
$umbra-1: 0px 2px 1px -1px $umbra-opacity;
$umbra-2: 0px 3px 1px -2px $umbra-opacity;
$umbra-3: 0px 3px 3px -2px $umbra-opacity;
$umbra-4: 0px 2px 4px -1px $umbra-opacity;
$umbra-5: 0px 3px 5px -1px $umbra-opacity;
$umbra-6: 0px 3px 5px -1px $umbra-opacity;
$umbra-7: 0px 4px 5px -2px $umbra-opacity;
$umbra-8: 0px 5px 5px -3px $umbra-opacity;
$umbra-9: 0px 5px 6px -3px $umbra-opacity;
$umbra-10: 0px 6px 6px -3px $umbra-opacity;
$umbra-11: 0px 6px 7px -4px $umbra-opacity;
$umbra-12: 0px 7px 8px -4px $umbra-opacity;
$umbra-13: 0px 7px 8px -4px $umbra-opacity;
$umbra-14: 0px 7px 9px -4px $umbra-opacity;
$umbra-15: 0px 8px 9px -5px $umbra-opacity;
$umbra-16: 0px 8px 10px -5px $umbra-opacity;
$umbra-17: 0px 8px 11px -5px $umbra-opacity;
$umbra-18: 0px 9px 11px -5px $umbra-opacity;
$umbra-19: 0px 9px 12px -6px $umbra-opacity;
$umbra-20: 0px 10px 13px -6px $umbra-opacity;
$umbra-21: 0px 10px 13px -6px $umbra-opacity;
$umbra-22: 0px 10px 14px -6px $umbra-opacity;
$umbra-23: 0px 11px 14px -7px $umbra-opacity;
$umbra-24: 0px 11px 15px -7px $umbra-opacity;

$penumbra-0: 0px 0px 0px 0px $penumbra-opacity;
$penumbra-1: 0px 1px 1px 0px $penumbra-opacity;
$penumbra-2: 0px 2px 2px 0px $penumbra-opacity;
$penumbra-3: 0px 3px 4px 0px $penumbra-opacity;
$penumbra-4: 0px 4px 5px 0px $penumbra-opacity;
$penumbra-5: 0px 5px 8px 0px $penumbra-opacity;
$penumbra-6: 0px 6px 10px 0px $penumbra-opacity;
$penumbra-7: 0px 7px 10px 1px $penumbra-opacity;
$penumbra-8: 0px 8px 10px 1px $penumbra-opacity;
$penumbra-9: 0px 9px 12px 1px $penumbra-opacity;
$penumbra-10: 0px 10px 14px 1px $penumbra-opacity;
$penumbra-11: 0px 11px 15px 1px $penumbra-opacity;
$penumbra-12: 0px 12px 17px 2px $penumbra-opacity;
$penumbra-13: 0px 13px 19px 2px $penumbra-opacity;
$penumbra-14: 0px 14px 21px 2px $penumbra-opacity;
$penumbra-15: 0px 15px 22px 2px $penumbra-opacity;
$penumbra-16: 0px 16px 24px 2px $penumbra-opacity;
$penumbra-17: 0px 17px 26px 2px $penumbra-opacity;
$penumbra-18: 0px 18px 28px 2px $penumbra-opacity;
$penumbra-19: 0px 19px 29px 2px $penumbra-opacity;
$penumbra-20: 0px 20px 31px 3px $penumbra-opacity;
$penumbra-21: 0px 21px 33px 3px $penumbra-opacity;
$penumbra-22: 0px 22px 35px 3px $penumbra-opacity;
$penumbra-23: 0px 23px 36px 3px $penumbra-opacity;
$penumbra-24: 0px 24px 38px 3px $penumbra-opacity;

$ambient-0: 0px 0px 0px 0px $ambient-opacity;
$ambient-1: 0px 1px 3px 0px $ambient-opacity;
$ambient-2: 0px 1px 5px 0px $ambient-opacity;
$ambient-3: 0px 1px 8px 0px $ambient-opacity;
$ambient-4: 0px 1px 10px 0px $ambient-opacity;
$ambient-5: 0px 1px 14px 0px $ambient-opacity;
$ambient-6: 0px 1px 18px 0px $ambient-opacity;
$ambient-7: 0px 2px 16px 1px $ambient-opacity;
$ambient-8: 0px 3px 14px 2px $ambient-opacity;
$ambient-9: 0px 3px 16px 2px $ambient-opacity;
$ambient-10: 0px 4px 18px 3px $ambient-opacity;
$ambient-11: 0px 4px 20px 3px $ambient-opacity;
$ambient-12: 0px 5px 22px 4px $ambient-opacity;
$ambient-13: 0px 5px 24px 4px $ambient-opacity;
$ambient-14: 0px 5px 26px 4px $ambient-opacity;
$ambient-15: 0px 6px 28px 5px $ambient-opacity;
$ambient-16: 0px 6px 30px 5px $ambient-opacity;
$ambient-17: 0px 6px 32px 5px $ambient-opacity;
$ambient-18: 0px 7px 34px 6px $ambient-opacity;
$ambient-19: 0px 7px 36px 6px $ambient-opacity;
$ambient-20: 0px 8px 38px 7px $ambient-opacity;
$ambient-21: 0px 8px 40px 7px $ambient-opacity;
$ambient-22: 0px 8px 42px 7px $ambient-opacity;
$ambient-23: 0px 9px 44px 8px $ambient-opacity;
$ambient-24: 0px 9px 46px 8px $ambient-opacity;