@mixin color ($className, $color) {
  .#{$className} {
    border-color: $color !important;
    background-color: $color !important;
  }
  .text-#{$className} {
    color: $color !important;
  }
}

@mixin elevation ($name, $shadows...) {
  .elevation-#{$name} {
    box-shadow: $shadows;
  }
}