@use "../../../styles/tools/variables" as v;
@use "../../../styles/tools/color" as c;

$input-prefix-cls: v.$prefix + '-input';

#{selector-nest(".dd", "&.aa", ">.cc")} {
  color: aqua;
}


.x-label {
  position: absolute;
  top: 0;
  // left: 0;
  color: rgba(0, 0, 0, 0.6);
  transform-origin: top left;
  transition: transform 0.3s ease, color 0.3s ease;

  &._active { color: currentColor; }
  &._disabled { color: rgba(0, 0, 0, 0.38); }
}

.#{$input-prefix-cls} {
  position: relative;
  display: flex;
  flex: 1 1 auto;

  &--control {
    position: relative;
    flex: 1;
  }

  &--content {
    position: relative;
    display: flex;
    flex: 1 1 auto;
  }

  &--slot {
    position: relative;
    display: flex;
    align-items: center;
    flex: 1 1 auto;
  }

  &--details {
    display: flex;
    margin-top: 4px;
    min-height: 14px;
    font-size: 12px;
    transition: color 0.3s ease;
    
    .#{$input-prefix-cls}--message {
      flex: 1 1 auto;
    }

    .#{$input-prefix-cls}--counter {
      margin-left: 8px;
    }
  }

  &._error:not(.disabled) {
    .x-label,
    .x-icon.prefix-outer-icon,
    .x-icon.prefix-icon,
    .x-icon.suffix-outer-icon,
    .x-icon.suffix-icon,
    .#{$input-prefix-cls}--content,
    // .#{$input-prefix-cls}--content::before,
    // .#{$input-prefix-cls}--content::after,
    // .#{$input-prefix-cls}--content > fieldset,
    .#{$input-prefix-cls}--details {
      color: c.$red-9;
    }
  }

  &._underlined { padding-top: 12px; }
  &._underlined &--control &--content {
    position: relative;
    &:before {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      bottom: -1px;
      border-style: solid;
      border-width: thin 0 0;
      // border-color: rgba(0, 0, 0, 0.42);
      border-color: currentColor;
      opacity: 0.42;
      transition: color 0.3s ease, opacity 0.3s ease;
    }
    &:after {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      bottom: -1px;
      border-style: solid;
      border-width: thin 0;
      border-color: currentColor;
      background-color: currentColor;
      transform: scaleX(0);
      transition: transform 0.3s ease, color 0.3s ease;
    }
  }
  &._underlined &--control &--content &--slot { min-height: 32px; }
  &._underlined:hover:not(._disabled) &--content:before { opacity: 0.87; }
  &._underlined._active &--content:after { transform: scaleX(1); }
  &._underlined._disabled &--content::before { border-style: dashed; }
  &._underlined .x-label { top: 8px; }

  &._outlined { border-radius: 4px; }
  &._outlined &--control { border-radius: inherit; }
  &._outlined &--control &--content {
    padding: 0 12px;
    border-radius: inherit;
    & > fieldset {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      padding-left: 12px;
      margin: 0;
      border: thin solid;
      border-radius: inherit;
      // color: rgba(0, 0, 0, 0.38);
      color: currentColor;
      opacity: 0.38;
      transition: color, opacity 0.3s ease;
      pointer-events: none;
      z-index: 9;
      & > legend {
        width: 0px;
        transition: width 0.3s ease;
      }
    }
  }
  &._outlined &--control &--content &--slot {
    min-height: 56px;
    border-radius: inherit;
  }
  &._outlined &--details { padding-left: 12px; padding-right: 12px; }
  &._outlined:hover:not(._disabled) &--control &--content > fieldset { opacity: 0.86; }
  &._outlined._active &--control &--content > fieldset { border-width: 2px; opacity: 0.86; }
  &._outlined .x-label { top: 19px; }

  &._filled &--content {
    padding: 0 12px;
    border-radius: 16px 16px 0 0;
    background: rgba(0, 0, 0, 0.06);
  }
  &._filled &--content &--slot {
    padding-top: 22px;
    min-height: 54px;
    box-sizing: border-box;
  }
  &._filled &--details { padding-left: 12px; padding-right: 12px; }
  &._filled:hover:not(._disabled) &--content { background: rgba(0, 0, 0, 0.12); }
  &._filled .x-label { top: 18px; }

  &._underlined .x-icon.prefix-outer-icon,
  &._underlined .x-icon.prefix-icon  {
    font-size: 24px;
    padding-top: 5px;
    margin-right: 8px;
  }

  &._underlined .x-icon.suffix-outer-icon,
  &._underlined .x-icon.suffix-icon {
    font-size: 24px;
    padding-top: 5px;
    margin-left: 8px;
  }

  &._outlined .x-icon.prefix-outer-icon,
  &._outlined .x-icon.prefix-icon  {
    font-size: 24px;
    padding-top: 16px;
    margin-right: 8px;
  }

  &._outlined .x-icon.suffix-outer-icon,
  &._outlined .x-icon.suffix-icon {
    font-size: 24px;
    padding-top: 16px;
    margin-left: 8px;
  }

  &._filled .x-icon.prefix-outer-icon,
  &._filled .x-icon.prefix-icon  {
    font-size: 24px;
    padding-top: 16px;
    margin-right: 8px;
  }

  &._filled .x-icon.suffix-outer-icon,
  &._filled .x-icon.suffix-icon {
    font-size: 24px;
    padding-top: 16px;
    margin-left: 8px;
  }

  &:hover, &._active {
    .x-icon.suffix-icon.close {
      opacity: 1;
    }
  }

  .x-icon.suffix-icon.close {
    cursor: pointer;
    opacity: 0;
  }

  .x-progress-linear {
    position: absolute;
    transition: height 0.3s ease-out;
  }
}
